.logout-design{
    display: flex;
    justify-content: flex-end;
}

.button-logout{
    font-family: 'Playfair Display', serif;
    margin-top: 1.5rem;
    margin-right:10rem ;
    margin-bottom: 0rem;
    color: #fff;
    background-color: none;
    border: none;
    text-decoration: none;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    position:absolute;
    z-index: 10;
    
}


.button-logout:hover {
    background-color:#000;
    padding: 0.3rem 1rem;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
  }

.button-logIn{
    font-family: 'Playfair Display', serif;
    margin-top: 2rem;
    margin-right:1.1rem ;
    margin-bottom: 0rem;
    color: #fff;
    background-color: none;
    border: none;
    text-decoration: none;
    padding: 0.2rem 0.5rem;
    font-size: 0.9rem;
    position:absolute;
    z-index: 10;
}

.button-logIn:hover {
    background-color:#000;
    padding: 0.2rem 0.5rem;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
  }


  .button-register{
    font-family: 'Playfair Display', serif;
    margin-top: 2rem;
    margin-right:5.5rem ;
    margin-bottom: 0rem;
    color: #fff;
    background-color: none;
    border: none;
    text-decoration: none;
    padding: 0.2rem 0.5rem;
    font-size: 0.9rem;
    position:absolute;
    z-index: 10;
}

.button-register:hover {
    background-color:#000;
    padding: 0.2rem 0.5rem;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
  }


  @media screen and (max-width: 768px) {
    

    .button-logout{
      right:75%;
      font-family: 'Playfair Display', serif;
      margin-top: 3rem;
      margin-bottom: 0rem;
      color: #000000;
      background-color: none;
      border: none;
      text-decoration: none;
      padding: 0.3rem 1rem;
      font-size: 1.5rem;
      position:absolute;
      z-index: 10;
      
  }

    


  }



  @media screen and (max-width: 280px) {






    .logout-design{
      display: flex;
      justify-content: flex-end;
  }
  
  .button-logout{
      font-family: 'Playfair Display', serif;
      margin-top: 1.5rem;
      margin-right:10rem ;
      margin-bottom: 0rem;
      color: #fff;
      background-color: none;
      border: none;
      text-decoration: none;
      padding: 0.3rem 1rem;
      font-size: 1rem;
      position:absolute;
      z-index: 10;
      
  }
  
  
  .button-logout:hover {
      background-color:#000;
      padding: 0.3rem 1rem;
      border-radius: 0.4rem;
      border: none;
      cursor: pointer;
    }
  
  .button-logIn{
      font-family: 'Playfair Display', serif;
      margin-top: 1.3rem;
      margin-right:0.9rem ;
      margin-bottom: 0rem;
      color: #fff;
      background-color: none;
      border: none;
      text-decoration: none;
      padding: 0.2rem 0.5rem;
      font-size: 0.9rem;
      position:absolute;
      z-index: 10;
  }
  
  .button-logIn:hover {
      background-color:#000;
      padding: 0.2rem 0.5rem;
      border-radius: 0.4rem;
      border: none;
      cursor: pointer;
    }
  
  
    .button-register{
      font-family: 'Playfair Display', serif;
      margin-top: 1.3rem;
      margin-right:5.5rem ;
      margin-bottom: 0rem;
      color: #fff;
      background-color: none;
      border: none;
      text-decoration: none;
      padding: 0.2rem 0.5rem;
      font-size: 0.9rem;
      position:absolute;
      z-index: 10;
  }
  
  .button-register:hover {
      background-color:#000;
      padding: 0.2rem 0.5rem;
      border-radius: 0.4rem;
      border: none;
      cursor: pointer;
    }




  }