
.navbar2 {
  position: absolute;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  padding-top:2rem;  
  width: 100%;
  z-index: 5;
  backface-visibility: hidden; 
  background-color: none;
  }

.logo1{
  border-radius: 50%;
  margin-top: -1.5rem; 
}

.fa-times {
  padding-top: 1rem;
  color:#fff;
  font-size: 2rem;
}

.fa-bars {
  padding-top: 1rem;
  color:#fff;
  font-size: 2rem;
}
.fa-home{
  display: none;
}


.nav-menu {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 50vh;
  position: absolute;
  bottom: 7.5rem;
  right:0rem;
  opacity: 0;
  transition: all 0.9s ease;
 
}

.nav-menu.active {
  opacity: 1;
  bottom: -25rem;
  transition: all 0.4s ease;
  z-index: 1;

}


.menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-350%, 30%);
  font-size: 1.8rem;
  cursor: pointer;
}

.social-logo{
  display: flex;
  list-style: none;
  justify-content: flex-end;
}


.nav-item {
  display: inline-flex;
  align-items: center;
}



.nav-links {
  display: inline-flex;
  color: #f5f3f3;
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
  font-family: 'Noto Kufi Arabic', sans-serif;
  
}


.nav-links:hover {
  background-color:rgb(14, 1, 1);
  border-radius: 0.4rem;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.nav-link {
  color: #000000;
  text-decoration: none;
  padding: 0.3rem;
  margin-left: 6rem;
}

.nav-link:hover {
  background-color:#fff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.social-icon {
  color: #000000;
  text-decoration: none;
  padding: 0.3rem 0.7rem;
}


.social-icon:hover {
  background-color:#fff;
  border-radius: 0.4rem;
  transition: all 0.2s ease-out;
}


.sign{
  color: #000000;
  text-decoration: none;
  padding: 0.3rem ;
}

.log{
  color: #000000;
  text-decoration: none;
}

.sign:hover {
  background-color: gold;
  border-radius: 0.4rem;
  transition: all 0.2s ease-out;
}


.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}







@media screen and (max-width: 425px) {
  .NavbarItems {
    position: relative;
  }


  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 88vh;
    position: absolute;
    top: 7.5rem;
    margin-left: -0.5px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: rgba(100, 88, 16, 0.822);
    left: -1.4rem;
    opacity: 1;
    transition: all 0.4s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 1.7rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    border-radius: 0;
  }

  .nav-link{
    display: flex;
    text-align: center;
    padding: 1.7rem;
    width: 100%;    
    display: table;
    margin-left: -2px;

  }

  .nav-link:hover {
    background-color: #fff;
    border-radius: 0;
  }

  .navbar-logo {
    
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    transform: translate(50%, 10%);
    font-size: 20px;
  }



  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    padding-top: 1rem;
    color:#fff;
    font-size: 2rem;
  }

  .fa-bars {
    padding-top: 1rem;
    color:#fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 0.4rem;
    width: 80%;
    background: #000000;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #000000;
    transition: 250ms;
  }

  button {
    display: none;
  }

  .social-logo{
   display: none;
   }
   .social-icon{
     display: none;
   }
  .sign{
    display: none;
    }

}


@media screen and (max-width: 768px) {
  .NavbarItems {
    position: relative;
  }

  .logo1{
    display: none;
  }


  .nav-menu {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    width: 25%;
    height: 65vh;
    position: absolute;
    top: 0.1rem;
    margin-left: 10px;
    left: -90%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: rgba(82, 52, 21, 0.644);
    left: -1.4rem;
    opacity: 1;
    transition: all 0.4s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    border-radius: 0;
  }

  .nav-link{
    display: flex;
    text-align: center;
    padding: 1.7rem;
    width: 100%;    
    display: table;
    margin-left: -2px;

  }

  .nav-link:hover {
    background-color: #fff;
    border-radius: 0;
  }

  .navbar-logo {
    
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    transform: translate(50%, 10%);
    font-size: 20px;
  }



  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    padding-top: 1rem;
    color:#fff;
    font-size: 2rem;
  }

  .fa-bars {
    padding-top: 1rem;
    color:#fff;
    font-size: 2rem;
  }

  .fa-home{
    display: none;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 0.4rem;
    width: 80%;
    background: #000000;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #000000;
    transition: 250ms;
  }

  button {
    display: none;
  }

  .social-logo{
   display: none;
   }
   .social-icon{
     display: none;
   }
  .sign{
    display: none;
    }

    .fa-caret-down{
      display: none;
    }

}


